<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建</title>
</head>
<body>
    <form action="/create/" method="POST">
        <label>姓名</label>
            <input name="name" value="" /> <br>
        <label>性别</label>
            <input name="gander" type="radio" value="1" checked="checke"> 男
            <input name="gander" type="radio" value="0"> 女 <br>
        <label>地址</label>
            <textarea name="addr" ></textarea> <br>
            <input type="submit" value="创建">
    </form>
</body>
</html>
<!--  -->