<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我的第一个页面</title>
</head>
<body>

	<form action="" method="GET">
		<label>姓名</label><input type="text" name="username" />
		<label>密码</label><input type="password" name="password" />
		<label>性别</label>
			<input type="radio" name="sex" value="1" checked="checked" /><label>男</label>
			<input type="radio" name="sex" value="0" /><label>女</label>
		<label>爱好</label>	
			<input type="checkbox" name="hobby" value="1" /><label>足球</label>
			<input type="checkbox" name="hobby" value="2" /><label>篮球</label>
		<input type="submit" value="登陆" />
		<input type="button" value="button">
		<button>button按钮</button>
		<button type="submit">submit</button> <br>

		<select name="department">
			<option value="dev">开发</option>
			<option value="test">测试</option>
			<option value="ops">运为</option>
		</select> <br>
		<label>备注</label>
			<textarea name="remark">我叫...</textarea>

	</form>
	<h1>1级</h1>
	<p>第一段</p>
	<p>第二段</p>
	<a href="http://www.baidu.com" target="_blank">百度</a>
	<img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1607445357547&amp;di=04f2333a0119def1612e883f6c82cfe1&amp;imgtype=0&amp;src=http%3A%2F%2Fs9.sinaimg.cn%2Fbmiddle%2F5ceba31bg5d6503750788">

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>name</th>
				<th>weizhi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>22</td>
				<td>li</td>
				<td>lslslld</td>
			</tr>
		</tbody>
	</table>
	<ol>
		<li>洗衣服</li>
		<li>做饭</li>
		<li>kandianshi</li>
	</ol>
	<ul>
		<li>洗衣服</li>
		<li>做饭</li>
		<li>kandianshi</li>
	</ul>

	<div>快1</div>
	<div>块2</div>
	<span>SPAN 1</span>
	<span>SPAN 2</span>
</body>
</html>
